body{
  font-family: $system-fonts;
  font-size: $global-font-size;
  line-height: $global-line-height;
  letter-spacing: $global-letter-spacing;
  color: $global-txt-color;
  word-wrap: break-word;
  hyphens: auto;
}