//- hepl-dw/vitfoud-client
//-
//- /src/pug/index.pug - Root document
//-
//- coded by leny@flatLand!
//- started at 22/04/2017
doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/
        title Vitfoud!
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1")
        link( rel="stylesheet", href="assets/css/styles.css" )/
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="description", content="Projet (Vitfoud) réalisé dans le cadre du cours de design web")
        meta(name="author", content="design by Eric Closquet")
        meta(name="keywords", content="Design web, HEPL, infographie")
        link(rel="shortcut icon", href="favicon.ico")
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    body
        #app

        script( src="assets/js/libs.min.js" )
        script( src="assets/js/app.min.js" )
